contact-app/contact-app/.vscode/extensions.json
contact-app/contact-app/.vscode/tasks.json
contact-app/contact-app/.vscode/launch.json
contact-app/contact-app/tsconfig.spec.json
contact-app/contact-app/tsconfig.json
contact-app/contact-app/.editorconfig
contact-app/contact-app/angular.json
contact-app/contact-app/package.json
contact-app/contact-app/package-lock.json
contact-app/contact-app/tsconfig.app.json
