<ng-container *transloco="let text;">
  <div class="form-container mat-elevation-z5">
    <h1 class="text-center">{{text('header.btn-sign-up')}}</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <mat-form-field>
        <input type="text" matInput placeholder="{{text('login.name')}}" formControlName="name" />
        <mat-error *ngIf="name?.errors?.['required']">{{text('login.name_required')}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="{{text('login.email')}}"
          formControlName="email"
        />
        <mat-error *ngIf="email?.errors?.['required']"
          >{{text('login.email_required')}}</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="{{text('login.password')}}"
          formControlName="password"
        />
        <mat-error *ngIf="password?.errors?.['required']"
          >{{text('login.password_required')}}</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="{{text('login.confirm_password')}}"
          formControlName="confirmPassword"
        />
        <mat-error *ngIf="confirmPassword?.errors?.['required']">
          {{text('login.confirm_password_required')}}
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
          passwords don't match
      </mat-error>
      <div class="text-center margin-top">
        <button mat-raised-button type="submit" color="primary">{{text('header.btn-sign-up')}}</button>
      </div>
    </form>
  </div>
  
</ng-container>