<ng-container *transloco="let text;">
  <div mat-dialog-title>
    <h1>{{text('add-edit.title')}}</h1>
  </div>
  <form [formGroup]="Contactform" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <p>
        <mat-form-field>
          <mat-label> {{text('add-edit.name')}}</mat-label>
          <input type="text" matInput formControlName="name" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>{{text('add-edit.email')}}</mat-label>
          <input type="email" matInput formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>{{text('add-edit.phone_number')}}</mat-label>
          <input
            matInput
            type="tel"
            placeholder="+961 38 333 333"
            formControlName="phoneNumber"
          />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </p>
    </div>
  
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" (click)="onCancel()">{{text('add-edit.btn-cancel')}}</button>
      <button mat-raised-button  color="primary" type="submit" [disabled]=" Contactform.untouched || (!Contactform.valid && Contactform.touched)">{{data ? "{{text('add-edit.btn-update')}}" : "{{text('add-edit.btn-add')}}" }}</button>
    </div>
  </form>
  
</ng-container>